.verses-translation {
    border: 1px solid #aaa;
    .header {
        padding: 10px;
        border-bottom: 1px solid #aaa;
        display: flex;
        justify-content: space-between;
        > h2 {
            font-size: 18px;
        }
    }
    > ul {
        padding: 10px;
        &.merge-verses {
            li {
                display: inline;
            }
        }
        li.highlighted {
            background-color: #ddd;
        }
        .verse-number {
            color: #aaa;
        }
    }
}
