.verses-translation {
    border: 1px solid #aaa;
    .header {
        padding: 10px;
        border-bottom: 1px solid #aaa;
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 18px;
        }
        h3 {
            color: #888;
        }
    }
    > .chapter {
        text-align: center;
        font-size: 25px;
        color: #dadada;
    }
    > ul {
        padding: 10px;
        &.merge-verses {
            li {
                display: inline;
            }
        }
        li.highlighted {
            background-color: #f5f5f5;
        }
        .verse-number {
            color: #aaa;
        }
    }
}
